.movieItemContainer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  animation: appear 1s 0s ease-in-out;

  .movieItemPoster img {
    width: 50px;
    height: 74px;
    object-fit: cover;
    border-radius: 10px;
  }

  .movieItemDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;

    .movieItemTitle {
      margin: 0;
    }

    .movieItemYear {
      margin: 0;
    }
  }
}

@keyframes appear {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
